*{
      margin: 0;
      padding: 0;
}

.menu a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 1.5rem ;
    color: rgb(14, 4, 4);
    transition: all 0.3s linear;
    text-decoration: none;
}


.menu a:hover {
    background-color: lightpink;
}